

<div class="container" style="padding-top: 20px">

    <div class="row">
      <div class="col-sm-3 col-md-4"></div>
      <div class="col-sm-3 col-md-6">
       <h1 style="color: green">** Crud Form **</h1>
      </div>

  

    <div class="col-sm-3 col-md-4"></div>
     <div class="col-sm-3 col-md-4">
     	
     		<input class="btn btn-danger" type="submit" witdth="20px" value="Logout" (click)="logout()">
     	  

     	  <div class="col-sm-1 col-md-6">
     	  <input class="btn btn-danger" type="submit" witdth="20px" value="Add Students" (click)="addStudents()">
     	  </div>
     </div>
  </div><br>

    <div class="row">
    	  <h2>Student Data</h2>

		<table>
		  <tr>
		  	<th>Sr. No</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th>Email Id</th>
		    <th>Action </th>
		  </tr>
		  <tr *ngFor="let data of student_data">
		  	<td>1</td>
		    <td>{{data.sfname}}</td>
		    <td>{{data.slname}}</td>
		    <td>{{data.semail}}</td>
		    <td>
		    	<input class="btn btn-success" type="button" value="Edit" (click)="editStudentForm(data._id)">

		    	&nbsp;&nbsp;&nbsp;<input class="btn btn-danger" type="button" value="Delete" (click)="openHomePage()">
		    </td>
		  </tr>
		  
		</table>

    </div>
     

</div>