

<!-- <br>

<div class="container" style="padding-top: 50px">
<div class="panel panel-primary">
      <div class="panel-heading">Login App </div>
      <div class="panel-body">
        
        <div class="row">

         <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Username" name="uname" [(ngModel)]="uname"><br>
          <input type="text" class="form-control" placeholder="password" name="pwd" [(ngModel)]="pwd"><br>

          <input class="btn btn-primary" type="submit" value="Login" (click)="myLogin()">

          <p>{{myData.msg}}</p>
         </div>

      </div>
      </div>
</div>

</div> -->


<!-- <app-formcontrollogin></app-formcontrollogin> -->
<router-outlet></router-outlet>